.App-logo {
  height: 35 px;
  padding-left: 40px;
  float: left;
}

.App-header {
  background-color: #1d428a;
  display: flex;
  align-items: center;
  height: 110px;
  margin-bottom: 70px;
}

.App-link {
  font-size: 1.5em;
}